.offpage-wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height:100%;

  .slim-container {
    padding:16px;
    max-width: 450px;
    flex:1;
    background:var(--taskoo-boxed-bg);
    border-radius:var(--taskoo-border-radius);
    margin-top:10%;
    box-shadow: var(--taskoo-box-shadow);

    .header {
      text-align:center;
      svg {
        width:150px;
        margin:0 auto;
        display: block;
        fill:var(--taskoo-primary);
      }

      .taskoo-slogan {
        font-family: "Noto Sans JP";
        color:var(--taskoo-primary);
        display: block;
        font-size:12px;
      }
    }

    .form {
      display:flex;
      align-items: center;
      flex-direction: column;
      margin-top:30px;

      .input-field {
        width: 100%;

        input {
          box-shadow: none;
          border:1px solid var(--taskoo-border-h);
        }
      }

      .error-message {
        font-family: "Noto Sans JP";
        color:var(--taskoo-error-color);
        border:1px solid var(--taskoo-error-color);
        border-radius:var(--taskoo-border-radius);
        padding:5px;
        text-align: center;
        width: 100%;
        max-width: 350px;
        font-size: 12px;
        margin-bottom:20px;
      }

      .links {
        width: 100%;
        text-align: center;
        margin-top:30px;
        a {
          color:var(--taskoo-primary);
          font-size:12px;

          &.lost-password {
            margin-right:25px;
          }
        }
      }
    }
  }
}

.taskoo-button {
  border:none;
  color:#ffffff;
  font-family: "Noto Sans JP";
  border-radius:var(--taskoo-border-radius);
  width: 100%;
  max-width: 350px;
  box-shadow: none;
  background:var(--taskoo-button-p);
  min-height:40px;
  cursor:pointer;
  transition: background 50ms;

  &:hover {
    background:var(--taskoo-button-p-h);
  }
}

