@import 'src/scss/vars/variables';

.warning-tooltip.md-tooltip {
  height:auto !important;
}

.administration-wrapper {

  .create-user-button {
    padding:6px 10px;
    border:1px solid $taskoo-done-color;
    width: 250px;
    text-align: center;
    border-radius: $taskoo-border-radius;
    background:transparent;
    cursor:pointer;
  }

  .user-list {
    margin-top:20px;
    display:flex;
    flex-direction: column;
    border-radius:$taskoo-border-radius;
    max-width: 700px;
    overflow: hidden;

    .actions {
      padding:3px;
      display:flex;
      justify-content: flex-end;

      .md-icon-button {
        width: 20px;
        min-width: 20px;
        height:20px;
      }
    }

    .entry {
      padding:6px;
      display:flex;
      flex-direction: row;
      align-items: center;
      border-top:1px solid $taskoo-border-color-secondary;
      background: #ffffff;

      &.loading {
        align-items: center;
        justify-content: center;
      }

      &:first-child {
        border:none;
      }

      div {
        padding:0 3px;
      }

      .id {
        width: 40px;
        text-align: center;
      }

      .name, .email {
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .active {
        &.true {
          span {
            background:$taskoo-main;
          }
        }

        span {
          display: block;
          border-radius: 50%;
          background: $taskoo-error;
          width: 10px;
          height:10px;
          margin:0 10px;
        }
      }

      .role {
        width: 100px;
        margin-left:10px;
      }

      .warnings {
        .md-icon {
          color:#dabc4e;
        }
      }

      .actions {
        display: flex;
        flex: 1;
        justify-content: flex-end;

        .md-icon-button {
          min-width: 25px;
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
