@import '../../scss/vars/variables';

.administration-wrapper {
  padding:16px 0;
  display: flex;
  flex:1;
  background:$taskoo-light-grey;

  .md-tabs.md-theme-default  {
    .md-tabs-navigation {
      background: transparent;
    }

    .md-content {
      background:transparent;
    }
  }
}
