@import '../../scss/vars/variables';

.settings-wrapper {
  padding:16px 0;
  display: flex;
  flex:1;
  background:var(--taskoo-wrapper-bg);
  justify-content: center;

  .md-tabs.md-theme-default  {
    background:var(--taskoo-default-bg);
    box-shadow:$taskoo-box-shadow;
    border-radius: $taskoo-border-radius;
    max-width: 732px;
    width: 100%;
    position: absolute;

    .md-tabs-navigation {
      background: transparent;
    }

    .md-content {
      background:transparent;
      display: flex;
      flex: 1;
      height: auto !important;
    }
  }
}

.taskoo-dark-theme {
  .settings-wrapper {
    .taskoo-input {
      input {
        background:var(--taskoo-wrapper-bg);
      }
    }
  }
}
