.invite-wrapper {
  .invite-header {
    color: var(--taskoo-primary);
    max-width: var(--taskoo-input-width);
    margin:0 auto;

    .headline {
      font-size:22px;
    }
  }

  .invite-success {
    color:var(--taskoo-primary);
    text-align:center;
    font-weight:bold;
    margin-top:35px;
  }

}

