@import '../../scss/vars/variables';


.invite-wrapper {
  .invite-header {
    color: $taskoo-main;
    max-width: $taskoo-input-width;
    margin:0 auto;

    .headline {
      font-size:22px;
    }
  }

  .invite-success {
    color:$taskoo-main;
    text-align:center;
    font-weight:bold;
    margin-top:35px;
  }

}

