.dashboard-wrapper {
  justify-content: center;
  .dashboard {
    width:100%;
    max-width: var(--taskoo-boxed-width);

    .first-row {
      display:flex;
    }

    .tile {
      border-radius:var(--taskoo-border-radius);
      color:#ffffff;
      padding:0 20px;

      &.welcome {
        width: 100%;
        max-width: 450px;
        background: #f7b733;
        min-height:80px;
        font-size: 28px;
        font-weight:800;
        display: flex;
        align-items: center;
        margin-right:16px;
      }

      &.date {
        width: 100%;
        max-width: 350px;
        display: flex;
        align-items: center;
        background: #3A6073;

        .day {
          font-size: 38px;
          font-weight: bold;
          line-height: 38px;
        }

        .month-time {
          margin-left:10px;

          .month {
            font-size: 18px;
          }

          .time {
          }
        }
      }
    }

    .notifications-title {
      padding: 20px 0;
      font-weight: bold;
    }

    .notifications {
      background:var(--taskoo-boxed-bg);
      border:1px solid var(--taskoo-border-d);
      border-radius:var(--taskoo-border-radius);
      overflow: hidden;

      &.skeleton {
        background:transparent;
        border:none;
        margin-top: 16px;

        .entry {
          border:none;
          min-height: 80px;
          padding:0;
        }
      }

      .entry {
        display:flex;
        align-items: center;
        height: 40px;
        font-size: 12px;
        padding:0 10px;
        border-top:1px solid var(--taskoo-border-l);
        transition:background 100ms;

        &:first-child {
          border:none;
        }

        .taskoo-avatar {
          width: 30px;
          height: 30px;
          font-size: 16px;
          margin-right:10px;
        }

        .to-notification {
          font-weight:bold;
          cursor:pointer;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          display:inline-flex;
          white-space: nowrap;
        }

        .message {
          flex:1;
        }

        .time {
          color:rgba(0,0,0,0.5);
        }

        &:hover {
          background:#f5f5f5;
        }
      }
    }

    .taskoo-tasklist {
      margin-top:16px;

      &.skeleton {
        .entry {
          display:flex;
          height: 100px;
        }
      }
    }

  }
}

.taskoo-dark-theme {
  .dashboard-wrapper {
    .dashboard {
      .notifications {
        .entry {
          border-color:var(--taskoo-bg);
          &:hover {
            background: var(--taskoo-bg);
          }

          .time {
            color:rgba(255,255,255,0.4);
          }
        }
      }
    }
  }
}


@media all and (max-width: 600px) {
  .dashboard-wrapper {
    .dashboard {

      .tile {
        &.welcome {
          font-size:22px;
        }
      }

      .notifications {
        .entry {
          min-height:30px;
          height: auto;
        }
      }
    }
  }
}
