.account-settings-inner {
  width:100%;
}

.settings-wrapper, .administration-wrapper {
  .subline {
    display: block;
    font-size:16px;
    position: relative;
    width: 100%;
    margin:20px 0;

    &:before {
      display:block;
      position: absolute;
      content:'';
      height:2px;
      width:100%;
      background:var(--taskoo-border-l);
      z-index:0;
      top:12px;
    }

    span {
      z-index: 1;
      position: relative;
      background: var(--taskoo-boxed-bg);
      margin-left:15px;
      padding:0 10px;
    }
  }
}
