.project-edit {
  .boxed-content-title {
    font-size:21px;
    display: flex;
    align-items: center;
    .project-name {
      display: flex;
      align-items: center;
      flex:1;

      .color-brick {
        height:10px;
        width: 10px;
        display:inline-block;
        margin-right:10px;
      }

      i {
        margin:0 5px;
      }
    }
  }

  .project-main-user {
    margin-bottom: 10px;
  }

  .edit-loading {
    .taskoo-skeleton {
      height: 40px;
      margin-bottom: 10px;
      display: block;
    }
  }


  .label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.67);
  }

  .project-description {
    margin-top: 10px;
    margin-bottom: 20px;

    .label {
      display: block;
      margin-bottom: 10px;
    }

    .ql-snow.ql-toolbar {
      max-height: 30px;
      padding: 4px 8px 8px 8px;
      border-bottom: 1px solid var(--taskoo-border-l);
      border-top: 1px solid var(--taskoo-border-h);
      border-left: 1px solid var(--taskoo-border-h);
      border-right: 1px solid var(--taskoo-border-h);
    }

    .ql-container {
      border-radius: 0;

      &.ql-snow {
        border-top: none;
        border-color: var(--taskoo-border-h);
      }

    }

    .ql-toolbar {
      text-align: left;
      background: var(--taskoo-boxed-bg);
      border-top-left-radius: var(--taskoo-border-radius);
      border-top-right-radius: var(--taskoo-border-radius);

      .ql-formats {
        margin-right: 10px;
        margin-bottom: 0;

        button {
          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .ql-container {
      background: var(--taskoo-boxed-bg);
      border-color: var(--taskoo-border-d);
      transition: border-radius 100ms;

      &.ql-snow {
        border-top: 1px solid var(--taskoo-border-d);
      }

      .ql-editor {
        min-height: 100px;
        font-family: 'Noto Sans JP';
        font-size: 14px;
      }
    }
  }
}



