.administration-wrapper {

  .create-user-button {
    padding:6px 10px;
    border:1px solid var(--taskoo-button-p);
    width: 250px;
    text-align: center;
    border-radius: var(--taskoo-border-radius);
    background:transparent;
    cursor:pointer;
    color: var(--taskoo-button-p);

    i {
      font-size:22px;
    }
  }

  .user-view {
    .user-view-inner {
      display: flex;
      flex-direction: column;
    }
  }

}

.taskoo-list {
  margin-top:20px;
  display:flex;
  flex-direction: column;
  border-radius:var(--taskoo-border-radius);
  border:1px solid var(--taskoo-border-l);

  .actions {
    padding:3px;
    display:flex;
    justify-content: flex-end;

    [disabled] {
      opacity: 0.2 !important;
    }

    .md-icon-button {
      width: 20px;
      min-width: 20px;
      height:20px;
    }
  }

  .entries {
    .entry:first-child {
      border:none;
    }
  }

  .entry {
    padding:6px;
    display:flex;
    flex-direction: row;
    align-items: center;
    border-top:1px solid var(--taskoo-border-l);
    background: var(--taskoo-boxed-bg);

    &:last-child {
      border-bottom-left-radius: var(--taskoo-border-radius);
      border-bottom-right-radius: var(--taskoo-border-radius);
    }

    &:hover {
      background:var(--taskoo-bg);
    }

    &.loading {
      align-items: center;
      justify-content: center;
    }

    &.title {
      border-bottom:1px solid var(--taskoo-border-l);
      border-radius: var(--taskoo-border-radius);
      &:hover {
        background:inherit;
      }
    }

    .id {
      width: 40px;
      text-align: center;
    }

    .name, .email {
      width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: flex;
      align-items: center;

      .taskoo-avatar {
        width:30px;
        height:30px;
        font-size:14px;
        margin-right:5px;
      }
    }

    .active {
      &.true {
        span {
          background:var(--taskoo-success-color);
        }
      }

      span {
        display: block;
        border-radius: 50%;
        background: var(--taskoo-error-color);
        width: 10px;
        height:10px;
        margin:0 10px;
      }
    }

    .role {
      width: 100px;
      margin-left:10px;

      .admin-label {
        font-size: 10px;
        background: rgba(158,206,247,0.4);
        border-radius: var(--taskoo-border-radius);
        padding:3px 5px;
        color:#5fa8ec;
      }
    }

    .warnings {
      i {
        font-size: 21px;
        color:#dabc4e;
      }
    }

    .actions {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      .taskoo-icon-button {
        width: 25px;
        height: 25px;
        font-size: 22px;
      }
    }
  }
}
