@import 'src/scss/vars/variables';


.edit-user {
  .loader {
    .taskoo-input {
      height:$taskoo-input-height;
      margin-bottom: 10px;
    }
  }

  .taskoo-button {
    margin-bottom:25px;
  }

  .label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.67);
  }

  .user-role {
    margin-bottom:10px;
  }
}
