@import '../../scss/vars/variables';

.taskoo-taskbar {
  min-height:48px;
  background:var(--taskoo-nav-bg);
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:0 16px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  z-index:10;

  .md-icon-button {
    min-width: 25px;
    width: 25px;
    height:25px;

    &.refresh {
    }
  }

  .menu-toggle {
    display:none;
    margin-right:10px;
  }

  .taskoo-search {
    flex:2;
    margin-right: 5%;
  }

  .taskoo-select {
    &.organisations {
      margin-right: 30px;
      background:$taskoo-main;
      border-radius:20px;
      max-width: 180px;
      max-height: 28px;
      min-height: auto;
      transition: all 50ms;

      &.multiselect--active {
        border-radius: 15px 15px 0 0;
      }

      .multiselect__tags {
        background:transparent;
        border:none;
        box-shadow:none;
        min-height:auto;
        padding: 3px 40px 0 0;
      }

      .multiselect__single, .multiselect__input {
        background:transparent;
        color:#ffffff;
        text-align:center;
        font-size:14px;
      }

      .multiselect__select {
        height:28px;
        top:0;

        &:before {
          top: 18px;
          color:#ffffff;
          border-color:#ffffff transparent transparent;
        }
      }

      .multiselect__content-wrapper {
        border-color:var(--taskoo-border-secondary);
        background:transparent;

        .multiselect__option {
          padding:0;
          background:transparent;
          min-height:auto;

          .organisation-entry {
            width: 100%;
            display:block;
            padding:6px 10px;
            color:#ffffff;
            font-size:12px;

            &:hover {
              color:rgba(0,0,0,0.8);
            }
          }
        }
      }
    }
  }

  .icons-right {
    display:flex;
    align-items: center;

    .taskoo-avatar {
      margin-left:10px;
    }

    .md-badge-content.no-badge {

      .md-badge {
        display:none;
      }

    }
  }
}


///* Safari */
//@-webkit-keyframes spin {
//  0% { -webkit-transform: rotate(0deg);
//  }
//  100% {
//    -webkit-transform: rotate(360deg);
//  }
//}

@keyframes spin {
  0% {
    border-top:3px solid blue;
  }
  33% {
    border-top:3px solid blue;
    border-right:3px solid blue;
  }

  66% {
    border-top:3px solid blue;
    border-right:3px solid blue;
    border-bottom:3px solid blue;
  }

  100% {
    border-top:3px solid blue;
    border-right:3px solid blue;
    border-bottom:3px solid blue;
    border-left:3px solid blue;
  }
}


@media all and (max-width: 600px) {
  .taskoo-taskbar {
    .menu-toggle {
      display:block;
    }
  }
}
