.administration-wrapper {
  .create-user {
    .create-switch {
      display:inline-flex;
      flex-direction: row;
      margin-bottom:20px;
      width: 100%;
      font-size: 12px;

      .entry {
        flex:2;
        padding:10px;
        border-bottom:2px solid var(--taskoo-border-l);
        transition: all .2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
        font-size: 14px;

        i {
          margin-right:5px;
          font-size: 20px;
        }

        &.active {
          border-color: var(--taskoo-tab-active);
        }
      }
    }
  }

  .create-header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .title {
      margin-right: 15px;
      font-size: 21px;
    }
  }
}
