$taskoo-main: #1ec81e;
$taskoo-light-grey: #f9f9f9;
$taskoo-border-color:#ffffff;
$taskoo-border-h-color:#c1c1c1;
$taskoo-border-radius: 5px;
$taskoo-error: #ff5e5e;
$taskoo-selected: #00c8d4;
$taskoo-scrollbar-thumb: #909090;
$taskoo-select-radius: 25px;
$taskoo-done-color:#2eb97b;
$taskoo-box-shadow:0px 1px 4px rgba(0,0,0,0.2);

$taskoo-user-select:#0094ff;

$taskgroup-border-color:#ffffff;
$taskgroup-width: 280px;


//search
$taskoo-search-bg: #ffffff;
$taskoo-search-border-color:#c1c1c1;
$taskoo-search-focus-border-color:$taskoo-main;

//$taskoo-main: #444444;

//success color
$taskoo-success-color: #199919;