@import '../../../scss/vars/variables';

.create-project {
  padding:16px;
  flex:1;
  background:var(--taskoo-wrapper-bg);
  color: rgba(0, 0, 0, 0.67);

  .create-header {
    margin-bottom:15px;

    .title {
      font-size:28px;
    }
  }

  .title {
    font-weight: bold;
    margin-bottom:2px;
  }

  .label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .taskoo-button {
    border:none;
    color:#ffffff;
    font-family: "Noto Sans JP";
    border-radius:$taskoo-border-radius;
    width: 250px;
    box-shadow: none;
    background:$taskoo-main;
    min-height:38px;
    cursor:pointer;

    &:hover {
      background:#1ec81e;
    }
  }
}
