.taskoo-input {
  font-family: "Noto Sans JP";
  color:rgba(0,0,0,0.67);
  width: 100%;
  max-width: var(--taskoo-input-width);

  .input-field-container {
    display:flex;
    align-items: center;
    margin-bottom:10px;
  }

  .info-text {
    font-size: 11px;
  }

  &.error {
    .input-label {
      color:var(--taskoo-error-color);
    }

    input {
      border-color:var(--taskoo-error-color);
    }
  }

  .input-label {
    display:block;
    font-size:16px;
    font-weight:bold;
    margin-bottom:5px;
  }

  input {
    -webkit-appearance: none;
    font-family: "Noto Sans JP";
    border-radius:var(--taskoo-border-radius);
    border:1px solid var(--taskoo-border-d);
    padding: 5px 10px;
    width: 100%;
    height:var(--taskoo-input-height);
    font-size:14px;
    margin-right: 10px;

    &::placeholder {
      color:rgba(0,0,0,0.3);
    }

    &:focus {
      border-color:var(--taskoo-primary);
      outline:none;
    }
  }
}

.taskoo-dark-theme {
  .taskoo-input {
    .input-label {
      color:rgba(255,255,255,0.6);
    }

    input {
      background:var(--taskoo-boxed-bg);
      color:rgba(255,255,255,0.6);

      &::placeholder {
        color:rgba(255,255,255,0.2);
      }
    }
  }
}
