@import '../../scss/vars/variables';

.taskoo-datepicker {

  .datepicker {
    width: $taskoo-input-width;
    font-family: "Roboto";
    margin-bottom: 10px;
    height: 40px;
    min-height: 40px;
    position: relative;
    box-shadow: $taskoo-box-shadow;
    background: #ffffff;
    border-radius: $taskoo-border-radius;

    .datepicker-icon {
      position: absolute;
      left: 10px;
      top: 8px;
    }

    .vdp-datepicker {
      width: 100%;
      height: 40px;
      position: relative;
      background: transparent;


      input {
        padding: 7px 30px 7px 45px;
        outline: none;
        width: 100%;
        height: 40px;
        font-family: "Noto Sans JP";
        cursor: pointer;
        border: 1px solid var(--taskoo-border-default);
        border-radius: $taskoo-border-radius;
        background:transparent;

        &:hover {
          border-color: $taskoo-border-h-color;
        }
      }

      .vdp-datepicker__clear-button {
        position: absolute;
        right: 10px;
        top: 8px;

        .close-datepicker {
          &:before {
            content: 'close';
            display: block;
          }
        }
      }

      .vdp-datepicker__calendar {
        border:1px solid $taskoo-border-h-color;
        box-shadow:$taskoo-box-shadow;

        header {
          .prev {
            background:$taskoo-main;
            color:#ffffff;

            &:after {
              border-right: 10px solid #fff;
            }
          }

          .day__month_btn {
            background:$taskoo-main;
            color:#ffffff;
          }

          .next {
            background:$taskoo-main;
            color:#ffffff;


            &:after {
              border-left: 10px solid #fff;
            }
          }
        }

        .cell {
          &.selected {
            background:$taskoo-main;
            color:#ffffff;
          }

          &:not(.blank):not(.disabled).day:hover {
            border:1px solid $taskoo-main;
          }
        }
      }
    }
  }



  .input-label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.67);
  }
}


.taskoo-dark-theme {
  .taskoo-datepicker {

    .input-label {
      color:rgba(255,255,255,0.6);
    }

    .datepicker {
      background:transparent;
      &:hover {
        border-color:var(--taskoo-border-default);
      }
      .datepicker-icon {
        color:rgba(255,255,255,0.6);
        z-index: 1;
      }

      .vdp-datepicker {
        input {
          background:var(--taskoo-nav-bg);
          color:rgba(255,255,255,0.6);
        }

        .vdp-datepicker__calendar {
          background:var(--taskoo-wrapper-bg);
        }
      }
    }
  }
}
