.taskoo-datepicker {

  .datepicker {
    width: var(--taskoo-input-width);
    font-family: "Roboto";
    margin-bottom: 10px;
    height: 40px;
    min-height: 40px;
    position: relative;
    box-shadow: var(--taskoo-box-shadow);
    background: #ffffff;
    border-radius: var(--taskoo-border-radius);

    .datepicker-icon {
      position: absolute;
      left: 10px;
      top: 11px;
      font-size: 19px;
    }

    .vdp-datepicker {
      width: 100%;
      height: 40px;
      position: relative;
      background: transparent;


      input {
        padding: 7px 30px 7px 45px;
        outline: none;
        width: 100%;
        height: 40px;
        font-family: "Noto Sans JP";
        cursor: pointer;
        border: 1px solid var(--taskoo-border-d);
        border-radius: var(--taskoo-border-radius);
        background:transparent;

        &:hover {
          border-color: var(--taskoo-border-h);
        }
      }

      .vdp-datepicker__clear-button {
        position: absolute;
        right: 10px;
        top: 8px;

        .close-datepicker {
          &:before {
            content: 'close';
            display: block;
          }
        }
      }

      .vdp-datepicker__calendar {
        border:1px solid var(--taskoo-border-h);
        box-shadow:var(--taskoo-box-shadow);
        width: 100%;

        header {
          .prev {
            background:var(--taskoo-drawer-bg);
            color:#ffffff;

            &:after {
              border-right: 10px solid #fff;
            }
          }

          .day__month_btn {
            background: var(--taskoo-drawer-bg);
            color:#ffffff;
          }

          .next {
            background: var(--taskoo-drawer-bg);
            color:#ffffff;


            &:after {
              border-left: 10px solid #fff;
            }
          }
        }

        .cell {
          &.selected {
            background: var(--taskoo-drawer-bg);
            color:#ffffff;
          }

          &:not(.blank):not(.disabled).day:hover {
            border:1px solid var(--taskoo-primary);
          }
        }
      }
    }
  }



  .input-label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
}


.taskoo-dark-theme {
  .taskoo-datepicker {

    .input-label {
      color:rgba(255,255,255,0.6);
    }

    .datepicker {
      background:transparent;
      &:hover {
        border-color:var(--taskoo-border-d);
      }
      .datepicker-icon {
        color:rgba(255,255,255,0.6);
        z-index: 1;
      }

      .vdp-datepicker {
        input {
          background:var(--taskoo-boxed-bg);
          color:rgba(255,255,255,0.6);
        }

        .vdp-datepicker__calendar {
          background:var(--taskoo-bg);
        }
      }
    }
  }
}
