.task-window {
  flex:1;

  textarea {
    -webkit-appearance: none;
    resize: none;
    border-radius: var(--taskoo-border-radius);
    border:1px solid var(--taskoo-border-d);
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    width: 100%;
    padding: 9px 10px;
    transition: border-color 100ms;

    &.name {
      overflow:hidden;
      height:40px;
    }

    &:focus {
      outline: none;
      border-color:var(--taskoo-border-h);
    }
  }

  .label {
    display:block;
    font-size:16px;
    margin:0 0 5px 5px;
    color:rgba(0, 0, 0, 0.8);
  }

  .done-info {
    border-radius:var(--taskoo-border-radius);
    border:1px solid var(--taskoo-done-color);
    color:var(--taskoo-done-color);
    font-size: 12px;
    background: transparent;
    padding: 10px 20px;
    margin:0 16px;
  }

  .taskbar {
    padding:0 16px;
    display:flex;
    align-items: center;
    justify-content: space-between;

    .header {
      display: flex;
      align-items: center;

      .color-brick {
        height:10px;
        width: 10px;
        display:inline-block;
        margin-right:10px;
        background: var(--taskoo-primary);
      }

      .project-title {
        margin-right:10px;
        font-size:21px;
      }

      .main-task {
        font-size:14px;
      }

      .deadline {
        font-size:14px;
        font-weight:bold;
      }
    }


    .right {
      display: flex;
      align-items: center;

      .finish-button {
        color:#ffffff;
        border:1px solid var(--taskoo-done-color);
        font-size: 12px;
        padding: 2px 10px;
        border-radius: 6px;
        background: var(--taskoo-done-color);
        display: flex;
        align-items: center;
        cursor:pointer;
        margin-right:10px;

        i {
          font-size: 24px;
          margin-right: 5px;
        }

        &.done {
          background:transparent;
          border-color:var(--taskoo-done-color);
          color:var(--taskoo-done-color);
        }


        &:hover {
          background:transparent;
          border-color:var(--taskoo-done-color);
          color:var(--taskoo-done-color);

          .md-icon {
            color:var(--taskoo-done-color);
          }

        }

        .md-icon {
          color:#ffffff;
          margin-right:3px;
        }
      }
    }
  }

  .task-content {
    padding:0 16px;
    flex:1;
    margin-top:20px;

    .task-description {
      margin-top:20px;
      text-align: right;
      margin-bottom:20px;

      .quillWrapper {
        box-shadow: var(--taskoo-box-shadow);
      }


      &.is-focused {
        .ql-toolbar {
          max-height:30px;
          padding:4px 8px 8px 8px;
          border-bottom: 1px solid var(--taskoo-border-l);
          border-top: 1px solid var(--taskoo-border-h);
          border-left: 1px solid var(--taskoo-border-h);
          border-right: 1px solid var(--taskoo-border-h);
        }

        .ql-container {
          border-radius:0;

          &.ql-snow {
            border-top:none;
            border-color:var(--taskoo-border-h);
          }

        }
      }

      .ql-toolbar {
        text-align: left;
        background:var(--taskoo-boxed-bg);
        border-top-left-radius: var(--taskoo-border-radius);
        border-top-right-radius: var(--taskoo-border-radius);
        border-color:var(--taskoo-border-d);
        border:none;

        //not focused - hide it
        max-height: 0;
        padding: 0;
        transition:max-height 100ms, padding 100ms;


        .ql-formats {
          margin-right:10px;
          margin-bottom:0;
          button {
            svg {
              width:16px;
              height:16px;
            }
          }
        }
      }

      .ql-container {
        background:var(--taskoo-boxed-bg);
        border-color:var(--taskoo-border-d);
        border-radius: 6px;
        transition:border-radius 100ms;

        &.ql-snow {
          border-top:1px solid var(--taskoo-border-d);
        }

        .ql-editor {
          min-height:100px;
          font-family:'Noto Sans JP';
          font-size:14px;
        }
      }

      .save-button {
        background:var(--taskoo-primary);
        color:#ffffff;
        padding: 7px 20px;
        margin-top:10px;
        border-radius:var(--taskoo-border-radius);
        border:none;
        font-family: "Noto Sans JP";
        cursor:pointer;

        &[disabled] {
          cursor:not-allowed;
        }
      }
    }

    .task-files {

      .upload-files {
        border:1px dashed var(--taskoo-primary);
        text-align: center;
        margin-bottom: 20px;
        display: flex;

        &.is-dragover {
          background: rgba(30,200,30,0.1);
        }

        label {
          display:flex;
          flex:1;
          padding:20px;
          justify-content: center;
          cursor: pointer;
        }

        .uploading {
          padding:20px;
          text-align:center;
          width: 100%;
        }

        .fileinput {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
      }
    }

    .task-users {
      margin-top:20px;
    }

    .date-due {
      margin-top:20px;
      .taskoo-datepicker {
        max-width: 300px;
      }
    }
  }

  .md-icon-button {
    min-width: 25px;
    width: 25px;
    height:25px;
  }


  &.skeleton {

    .taskbar {
      .header {
        width: 100%;
        height: 50px;
      }
    }

    .task-content {
      .task-name {
        display: flex;
        width: 100%;
        height:40px;
      }

      .task-description {
        margin-top:20px;
        display: flex;
        height:200px;
        width: 100%;
      }

      .date-due {
        width: 100%;
        max-width: 300px;
        height:40px;
      }

      .task-users {
        width: 100%;
        max-width: 300px;
        height:40px;
      }
    }
  }
}


//DARK MODE
.taskoo-dark-theme {
  .task-window {
    .label {
      color:rgba(255,255,255,0.6);
    }

    textarea.name {
      background:var(--taskoo-boxed-bg);
      color:rgba(255,255,255,0.6);
    }

    .task-content {
      .task-description {
        .ql-container {
          .ql-editor {
            &.ql-blank {
              &:before {
                color:rgba(255,255,255,0.3);
              }

            }
          }
        }
      }
    }
  }

  .taskoo-select {
    .multiselect__tags {
      background:var(--taskoo-boxed-bg);
      color:rgba(255,255,255,0.6);

      .multiselect__single, .multiselect__input {
        background:transparent;
      }
    }
  }
}
