.taskoo-dark-theme {
    --taskoo-wrapper-bg: #{#181a21};
    --taskoo-default-bg: #{#0f0f15};
    --taskoo-nav-bg: #{#0f0f15};
    --taskoo-border-secondary: #{#000000};
    --md-theme-default-text-primary-on-background: #{rgba(255,255,255, 0.6)} !important;
    --md-theme-default-icon-on-background: #{rgba(255,255,255, 0.6)} !important;
    --taskoo-border-default: #{#000000};

    background:var(--taskoo-wrapper-bg);

  .md-app {
    background:var(--taskoo-wrapper-bg) !important;
  }


  .pu-skeleton {
    background-color: #13151b !important;
    background-image: linear-gradient(
        90deg
      , #13151b, #1a1a23, #13151b) !important;
  }
}
