.tasks-wrapper {
  .tasks-content {
    width: 100%;

    .tasks-header {
      display: flex;
      align-items: center;
      margin-bottom:5px;
      padding:0 16px;
      justify-content: space-between;
      .title {
        margin-right:15px;
        font-size:21px;
      }

      .finish-button {
        font-size: 12px;
        padding: 2px 10px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        cursor:pointer;
        background: transparent;
        border:1px solid var(--taskoo-done-color);
        color:var(--taskoo-done-color);

        i {
          color:var(--taskoo-done-color);
          font-size: 24px;
          margin-right: 5px;
        }

        &.done {
          background: var(--taskoo-done-color);
          border-color:var(--taskoo-done-color);
          color:#ffffff;

          i {
            color:#ffffff;
          }
        }
      }
    }

    .tasks {
      padding:0 16px;

      .taskoo-tasklist {
        margin-top:16px;

        &.skeleton {
          .entry {
            display:flex;
            height: 200px;
          }
        }
      }
    }
  }
}
