<?xml version='1.0' encoding='utf-8'?>
<widget id="com.company.taskoo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Taskoo</name>
    <description>Easy task management</description>
    <author email="damian@taskoo.de" href="https://taskoo.de">
        Damian Plewka
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <allow-navigation href="about:*" />
    <platform name="android">
        <resource-file src="res/values/colors.xml" target="/app/src/main/res/values/colors.xml" />
        <icon background="@color/background" density="ldpi" foreground="res/android/icon.png" />
        <icon background="@color/background" density="mdpi" foreground="res/android/icon.png" />
        <icon background="@color/background" density="hdpi" foreground="res/android/icon.png" />
        <icon background="@color/background" density="xhdpi" foreground="res/android/icon.png" />
        <icon background="@color/background" density="xxhdpi" foreground="res/android/icon.png" />
        <icon background="@color/background" density="xxxhdpi" foreground="res/android/icon.png" />
    </platform>
</widget>
