@import './scss/vars/variables';
@import './scss/vars/popover';
@import './scss/vars/base';


#q-app {
  font-family: "Noto Sans JP";
}

.box-shadow {
  box-shadow: $taskoo-box-shadow;
}

//Skeleton
.pu-skeleton {
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 3px;
  display: inline-block;
  line-height: 1;
  width: 100%;
  height: inherit;
}

@keyframes SkeletonLoading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

//toastify styles
  .vt-notification-container {
    &.vt-top {
      top:47px;
    }

    .vt-theme-taskoo {
      background:$taskoo-default-bg;
      border-left: 4px solid $taskoo-success-color;
      min-height: 70px;
      box-shadow:$taskoo-box-shadow;

      .vt-circle {
        width: 35px;
        height: 35px;
      }
    }
  }
