@import './scss/vars/popover';
@import './scss/vars/base';

@import 'src/scss/Taskoo/variables';
@import 'src/scss/Taskoo/global';


#q-app {
  font-family: "Noto Sans JP";
}

//Skeleton
.pu-skeleton {
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 3px;
  display: inline-block;
  line-height: 1;
  width: 100%;
  height: inherit;
}

@keyframes SkeletonLoading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

//toastify styles
  .vt-notification-container {
    &.vt-top {
      top:47px;
    }

    .vt-theme-taskoo {
      background:var(--taskoo-boxed-bg);
      border-left: 4px solid var(--taskoo-success-color);
      min-height: 70px;
      box-shadow:var(--taskoo-box-shadow);

      .vt-circle {
        width: 35px;
        height: 35px;
      }
    }
  }
