.task-group {
  flex:1;
  width:var(--taskoo-taskgroup-width);
  margin-right: 11px;
  display: flex;
  flex-direction: column;

  ul, li {
    list-style-type: none;
    padding:0;
    margin:0;
  }

  //done task list
  &.done-tasks {
    .task {
      &.add {
        border-color:var(--taskoo-done-color);
        color:var(--taskoo-done-color);
        font-size: 12px;
      }
    }

    .task-group-inner {

      .task {
        &.item {
          &.is-done {
            animation: none;
          }
        }
      }

    }
  }

  .task-group-header {
    padding: 0 5px;
  }

  .task-group-inner {
      display: block;
      padding: 0 5px 5px 5px;
  }

  .task {
    background:var(--taskoo-boxed-bg);
    cursor: -webkit-grab;
    cursor: grab;
    padding:6px 10px;
    margin: 5px 0;
    display:flex;
    border:1px solid var(--taskoo-border-d);
    border-radius:var(--taskoo-border-radius);
    flex-direction: column;
    transition: border-color 100ms ease-in-out;

    &.item {
      &:hover {
      border-color:var(--taskoo-border-h);
      }

      &.sortable-chosen {
        border-color:var(--taskoo-selected-color);
        opacity:0.5;
      }

      &.high-priority {
        border-color: var(--taskoo-high-priority-color);
        background: var(--taskoo-high-priority-bg);
      }

      &.is-done {
        overflow:hidden;
        animation-name: fadeOut;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        border-color:var(--taskoo-done-color) !important;
      }
    }

    .main {
      display:flex;

      .inputfield-editable {
        margin-right:5px;
      }
    }

    .secondary {
      display: flex;
      justify-content: space-between;
      align-items:center;

      .secondary-left {
        .date {
          color:rgba(0,0,0,0.7);
          font-size:9px;
          margin-left:5px;

          &.overdue {
            color:var(--taskoo-error-color);
          }
        }
      }


      .users {
        .taskoo-avatar {
          width: 30px;
          height:30px;
          font-size:16px;
        }
      }
    }

    &.name {
      border:none;
      background:transparent;
      flex-direction: row;

      .options {
        display:flex;
      }

      input {
        font-weight:bold;
        font-size:16px;
      }
    }

    &.add {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        margin:0 auto;
      }
    }
  }

  .task-loader {
    .task-group-inner {
      .task {
        padding:0;
        border:none;
        background:transparent;
        display: flex;
        width: 100%;
        height:64px;
      }
    }
  }
}

.taskoo-dark-theme {
  .task-group {
    .task {
      .secondary {
        .secondary-left {
          .date {
            color:rgba(255,255,255,0.4);
          }
        }
      }

      &.item {
        &.high-priority {
          border-color: #7b0c0c;
          background: #290000;
        }
      }
    }
  }
}



@keyframes fadeOut {
  0% {
    opacity:1;
    max-height:64px;
    margin: 5px 0;
  }

  99% {
    max-height:0;
    padding:6px 0;
    opacity:0;
  }

  100% {
    max-height:0;
    padding:0;
    opacity:0;
    border:none;
    margin:0;
  }
}

@media all and (max-width: 599px) {
  .task-group {
    width: 330px;
  }
}
