.edit-project-users {
  .add-user {
    display:flex;
    align-items: center;

    .taskoo-icon-button {
      margin-bottom:10px;
      margin-left:10px;
    }
  }

  .taskoo-avatar {
    width: 30px;
    height:30px;
    margin-right:10px;
    font-size: 16px;
  }

  .main {
    display:flex;
    align-items: center;

    i {
      margin-left:10px;
    }
  }
}
