@import 'src/scss/vars/variables';


.edit-project-users {
  .add-user {
    display:flex;
  }
}

.md-avatar.md-theme-default.md-avatar-icon.taskoo-avatar {
  background:$taskoo-main;
  font-size:18px;
}
