@import 'src/scss/vars/variables';


.administration-wrapper {


  .create-user {

    .create-header {
      max-width: 400px;
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .title {
        margin-right: 15px;
        font-size: 21px;
      }
    }

    .create-switch {
      display:inline-flex;
      flex-direction: row;
      border:1px solid $taskoo-done-color;
      border-radius:$taskoo-border-radius;

      div {
        padding:6px 12px;
        cursor:pointer;

        &.active {
          background:$taskoo-done-color;
          color:#ffffff;

          .md-icon {
            color:#ffffff;
          }
        }
      }

      .invite {
        border-right:1px solid $taskoo-done-color;
      }

    }
  }



}
