@import "src/scss/vars/variables";
@import "src/scss/vars/multiselect";

.taskoo-user-select {
  .user-select {
    display:inline-block;
    width: auto;
    min-width: $taskoo-input-width;
    height: 40px;

    &.multiselect--active {
      .multiselect__tags {
        border-color:$taskoo-border-h-color;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .multiselect__content-wrapper {
        border:1px solid $taskoo-border-h-color;
        border-top:none;
        box-shadow:$taskoo-box-shadow;
      }
    }

    .user-tag {
      background:$taskoo-user-select;

      .multiselect__tag-icon {
        &:after {
          color:#ffffff;
        }
      }
    }

    .multiselect__tags {
      border-radius:$taskoo-border-radius;
      border:1px solid var(--taskoo-border-default);
      box-shadow:$taskoo-box-shadow;
    }
    .multiselect__option {
      padding: 6px 12px;
      min-height: 30px;
      font-size: 14px;

      &:after {
        line-height:30px;
        font-size: 10px;
      }
    }

    .multiselect__option--highlight {
      background:$taskoo-user-select;

      &:after {
        background:$taskoo-user-select;
      }
    }

    .multiselect__input {
      display:block;
      width: auto;
      font-size: 14px;
    }
  }
}

.taskoo-dark-theme {
  .taskoo-user-select {
    .user-select {
      .multiselect__tags {
        background:var(--taskoo-nav-bg);
      }

      .multiselect__single {
        background:var(--taskoo-nav-bg);
        color: rgba(255,255,255,0.6);
      }

      .multiselect__input {
        background:transparent;
        color:rgba(255,255,255,0.6);
      }
    }
  }
}
